* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
/* website page */
.container {
  width: 1008px;
  margin: 0 auto;
  padding-top: 100px;
}

/* website header */
header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: #1F1534;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.home {
  font-weight: bold;
}

/* website main */

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

section {
  width: 489px;
}

.title {
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  line-height: 56px;
  padding-bottom: 40px;
}

.mark {
  font-weight: bold;
  color: #89C5CC;
}

.paragraph {
  width: 438px;
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
  padding-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
}

/* website footer */

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.balls {
  position: fixed;
  right: 0;
  bottom: 0;
}

